# 操作系统文件
.DS_Store
Thumbs.db

# 日志文件
*.log

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# Java
*.class
*.jar
*.war
*.ear

# Ruby
*.gem
*.rbc
.bundle/
vendor/bundle
log/
tmp/
